PORT=3003
NATS_SERVERS= 'nats://localhost:4222'

#https://dashboard.stripe.com/test/apikeys = direccion para obtener un api key de stripe
STRIPE_SECRET=


STRIPE_PRODUCTION=
STRIPE_SUCCESS_URL='http://localhost:3003/paiments/success',
STRIPE_CANCEL_URL='http://localhost:3003/paiments/cancel'
ENDPOINT_SECRET=